{% extends 'base.html.twig' %}

{% block title %}{{ manga.Serie.nom }} | Tome {{ manga.numSerie }}{% endblock %}

{% block body %}
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/fontAwesome.css">
    <link rel="stylesheet" href="css/light-box.css">
    <link rel="stylesheet" href="css/templatemo-style.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <nav>
        <div class="logo">
            <a href="/">Manga<em>theque</em></a>
        </div>
        <div class="menu-icon">
            <span></span>
        </div>
    </nav>

    <div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner">
                <h1>{{ manga.Serie.nom }}</h1>
                <p>Tome {{ manga.numSerie }}</p>
                <div class="scroll-icon">
                    <a class="scrollTo" data-scrollTo="portfolio" href="#"><img src="img/scroll-icon.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="full-screen-portfolio" id="portfolio">
        <div class="container-fluid">
            <div class="presentation">
                <div class="image">
                    <a style="width: 5%" href="Images/Manga/{{ manga.image }}" data-lightbox="image-1"><img src="Images/Manga/{{ manga.image }}"></a>
                </div>
                <div class="text">
                    <h1>{{ manga.Serie.nom }} - Tome {{ manga.numSerie }}</h1>
                    <p>Editeur : {{ manga.Serie.editeur }}</p>
                    <p>Date parution : {{ manga.dateParution|date("Y/m/d") }}</p>
                    <p>Categorie : {{ manga.Serie.categorie }}</p>
                    <br>
                    <p>Dessinateur : {{ manga.Serie.dessinateur }}</p>
                    <p>Scenariste : {{ manga.Serie.scenariste }}</p>
                    <br>
                    <p>Nombre de pages : {{ manga.nbPages }}</p>
                    <p>Prix : {{ manga.PrixManga }}€</p>
                    <br>
                    <p>Description : </p>
                    <p>{{ manga.DescriptionManga }}</p>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="page-header">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <div class="CommentairePerso">
                                    <div class="card">
                                        <div class="row">
                                            <div class="col-10">
                                                <div class="comment-box ml-2">
                                                    <h4>Ajouter un commentaire</h4>
                                                    <form action="{{ path('add_MangaComment',{id: manga.id}) }}" method="post">
                                                        <input style="text-align: center" name="note" value="note" type="number" step="1" min="0" max="20"/> / 20
                                                        <br>
                                                        <div class="comment-area"> <textarea name="lib" class="form-control" placeholder="Ici sera votre commentaire..." rows="4"></textarea> </div>
                                                        <div class="comment-btns mt-2">
                                                            <div class="row">
                                                                <br>
                                                                <div class="col-6">
                                                                    <div class="pull-left"> <button class="btn btn-success btn-sm">Annuler</button> </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div class="pull-right"> <button class="btn btn-success send btn-sm" type="submit">Envoyer <i class="fa fa-long-arrow-right ml-1"></i></button> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <p>Vous devez être connecté pour commenter.</p>
                            {% endif %}
                            <h1>Commentaires</h1>
                        </div>
                        <div class="comments-list">
                            {% for commentaire in commentaires %}
                                {% if commentaire.manga.id == manga.id %}
                                    <div class="media">
                                        <p class="pull-right"><small>{{ commentaire.note }} / 20</small></p>
                                        <div class="media-body">
                                            <h4 class="media-heading user_name">{{ commentaire.utilisateur.username }}</h4>
                                            {{ commentaire.libelle }}
                                        </div>
                                    </div>
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}